gcm-diagnose.log

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Uploads
app/static/uploads/*
!app/static/uploads/.gitkeep

# Logs
*.log
